<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Cadastro de taxas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="container">
          <mat-form-field [floatLabel]="auto">
            <mat-select  [formControl]="rateType" required placeholder="Tipo de taxa">
              <mat-option value="CREDIT">Crédito</mat-option>
              <mat-option value="DEBIT">Débito</mat-option>
            </mat-select>
            <mat-error *ngIf="rateType.invalid ">{{getErrorRateTypeMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field [floatLabel]="auto">
              <mat-select required [formControl]="activityType" placeholder="Ramo de atividade">
                  <mat-option *ngFor="let actType of activityTypes" [value]="actType">
                      {{actType.description}}
                    </mat-option>
              </mat-select>
              <mat-error *ngIf="activityType.invalid ">{{getErrorActivityTypeMessage()}}</mat-error>
            </mat-form-field>
          <mat-form-field  [floatLabel]="auto">
            <mat-label>Valor</mat-label>
            <input matInput type="number" [formControl]="value" required placeholder="Digite o rano de atividade"   >
            <mat-error *ngIf="value.invalid ">{{getErrorValueMessage()}}</mat-error>
          </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button routerLink="/">Cancelar</a>
        <button mat-button (click)="save()"  >Salvar</button>
    </mat-card-actions>
  </mat-card>