<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Cadastro de ramos de atividades</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="container">
          <mat-form-field  [floatLabel]="auto">
            <mat-label>Ramo de atividade</mat-label>
            <input matInput [formControl]="description" required placeholder="Digite o ramo de atividade"   >
            <mat-error *ngIf="description.invalid ">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button routerLink="/">Cancelar</a>
        <button mat-button (click)="save()"  >Salvar</button>
    </mat-card-actions>
  </mat-card>