<h1 mat-dialog-title>Finalizar simulação</h1>
<div mat-dialog-content class="content">
    <mat-form-field [floatLabel]="auto">
        <mat-select required [formControl]="status" placeholder="Status da simulação">
            <mat-option value="ACCEPT">Aceita</mat-option>
            <mat-option value="REFUSED">Recusada</mat-option>
        </mat-select>
    </mat-form-field>
 </div>   
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button  (click)= "save()">Salvar</button>
</div>