.mat-dialog-title{
    font-size: 35px;
    margin-left: 5vw;
    margin-bottom: 0.5em;
  }
  .mat-form-field {
    font-size: 25px;
    align-content: center;
    margin-left: 5vw;
    width: 60%;


  }
  .mat-button {
    align-content: center;
    text-align: center;
    margin-left: 6vw;
    font-size: 25px;

  }