<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Cadastro de concorrente</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
        <mat-form-field  [floatLabel]="auto">
          <mat-label>Nome</mat-label>
          <input matInput [formControl]="name" required placeholder="Digite o nome do concorrente"   >
          <mat-error *ngIf="name.invalid ">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
      <a mat-button routerLink="/">Cancelar</a>
      <button mat-button (click)="save()"  >Salvar</button>
  </mat-card-actions>
</mat-card>