.card {
  margin-left: 35vw;
  margin-top: 15vh;   
  align-content: center;
  text-align: center;
  height: 30vh;
  width: 30vw;   
  font-size: larger;
  box-shadow: 5px 5px 5px 5px rgba(56, 56, 56, 0.2);    
}
.mat-card-header{
  margin-left: 2vw;
  margin-bottom: 0.5em;
}
.mat-card-title{
  font-size: 45px;
}
.container {
  font-size: 30px;

}
.mat-form-field {
  width: 80%;

}
.mat-button{
  font-size: 30px;
}