<a mat-raised-button routerLink="/concurrent">Cadastrar concorrentes</a>
<a mat-raised-button routerLink="/activityType">Cadastrar ramo de atividade</a>
<a mat-raised-button routerLink="/rate">Cadastrar taxa</a>
<button mat-raised-button (click)="download()">Baixar Simulações</button>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Simulação</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="container">
            <mat-form-field [floatLabel]="auto">
                <mat-select required [formControl]="concurrent" placeholder="Concorrente">
                    <mat-option *ngFor="let con of concurrentList" [value]="con">
                        {{con.name}}
                        </mat-option>
                </mat-select>
                <mat-error *ngIf="concurrent.invalid ">{{getErrorConcurrentMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field  [floatLabel]="auto">
                <mat-label>CPF/CNPJ</mat-label>
                <input matInput type="text"  [formControl]="numberOfIdentification" required placeholder="Digite o CPF OU CNPJ"   >
                <mat-error *ngIf="numberOfIdentification.invalid ">{{getErrorNumberOfIdentificationMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field  [floatLabel]="auto">
                <mat-label>Telefone</mat-label>
                <input matInput type="tel" [formControl]="phone" required placeholder="Digite o número de telefone"   >
                <mat-error *ngIf="phone.invalid ">{{getErrorPhoneMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field  [floatLabel]="auto">
                <mat-label>Email</mat-label>
                <input matInput type="email" [formControl]="email"  placeholder="Digite o email"   >
                <mat-error *ngIf="email.invalid ">{{getErrorEmailMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field [floatLabel]="auto">
                <mat-select required [formControl]="activityType" placeholder="Ramo de atividade">
                    <mat-option *ngFor="let actType of activityList" [value]="actType">
                        {{actType.description}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="activityType.invalid ">{{getErrorActivityTypeMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field  [floatLabel]="auto">
                <mat-label>Taxa de Débito Concorrente</mat-label>
                <input matInput type="number" [formControl]="debitRateConcurrent" required placeholder="Digite a taxa de débito da concorrente"   >
                <mat-error *ngIf="debitRateConcurrent.invalid ">{{getErrorDebitRateConcurrentMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field  [floatLabel]="auto">
                 <mat-label>Desconto Débito</mat-label>
                <input matInput type="number" [formControl]="debitDiscount" required placeholder="Digite o desconto de débito"   >
                <mat-error *ngIf="debitDiscount.invalid ">{{getErrorDebitDiscountMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field  [floatLabel]="auto">
                <mat-label>Taxa de Crédito Concorrente</mat-label>
                <input matInput type="number" [formControl]="creditRateConcurrent" required placeholder="Digite a taxa de crédito da concorrente"   >
                <mat-error *ngIf="creditRateConcurrent.invalid ">{{getErrorCreditRateConcurrentMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field  [floatLabel]="auto">
                <mat-label>Desconto Crédito </mat-label>
                <input matInput type="number" [formControl]="creditDiscount" required placeholder="Digite o desconto no crédito"   >
                <mat-error *ngIf="creditDiscount.invalid ">{{getErrorCreditDiscountMessage()}}</mat-error>
            </mat-form-field>            
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="cancel()">Cancelar</button>
        <button mat-button (click)="save()">Submeter</button>
    </mat-card-actions>
</mat-card>