.card {
    margin-left: 31vw;
    margin-top: 10vh;   
    margin-bottom: 5vh;   

    align-content: center;
    text-align: center;
    height: 130vh;
    width: 40vw;   
    font-size: larger;
    box-shadow: 5px 5px 5px 5px rgba(56, 56, 56, 0.2);    
  }
  .mat-card-header{
    margin-left: 13vw;
    margin-bottom: 0.5em;
  }
  .mat-card-title{
    font-size: 45px;
  }
  .container {
    font-size: 30px;

  }
  .mat-form-field {
    width: 80%;

  }
  .mat-button{
    font-size: 30px;

  }
  .mat-raised-button {
    font-size: 30px;
    margin: 0.5em;


  }